<% if (locals.errors && locals.errors.register) { %>
	<% locals.errors.register.forEach(function(error) { %>
		<p class="alert alert-primary" role="alert"><%= error %></p>
	<% }) %>  
<% } %>

</form>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg col-md-5" data-toggle="modal" data-target="#registerModal">
	Register
  </button>
<!-- Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="registerModalLabel">Register</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<form action="/register" method="post">
				<div class="form-group">
				  <label for="inputEmail">Email address</label>
				  <input type="email" class="form-control" name="email" placeholder="Email" id="inputEmail" aria-describedby="emailHelp">
				</div>
				<div class="form-group">
				  <label for="inputPassword">Password</label>
				  <input type="password" class="form-control" name="password" placeholder="Password" id="inputPassword">
				</div>
				<div class="form-group">
					<label for="confirmPassword">Confirm Password</label>
					<input type="password" class="form-control" name="passwordConfirm" placeholder="Confirm Password" id="confirmPassword">
				  </div>
				<button type="submit" class="btn btn-primary">Register</button>
			</form>
		</div>
		<div class="modal-footer">
		 	<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
  </div>