<form action="/account" method="post" enctype="multipart/form-data">
    <div class="form-group">
    <label for="updateAvatar">Update Avatar</label>
    <input type="file" name="avatar" value="<%= locals.user.avatar %>" id="updateAvatar">
    </div>
    <div class="form-group col-md-8">
    <label for="updateDisplayName">Display Name</label>
    <input type="text" class="form-control" name="displayName" placeholder="Display Name" value="<%= locals.user.displayName %>" id="updateDisplayName" aria-describedby="emailHelp">
    </div>
    <div class="form-group col-md-8">
    <label for="updateInputEmail">Email</label>
    <input type="email" class="form-control" name="email" placeholder="Email" value="<%= locals.user.email %>" id="updateInputEmail">
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>