<form action="/password" method="post">
    <div class="form-group">
      <label for="updatePassword">Password</label>
      <input type="password" class="form-control" name="password" placeholder="Password" value="<%= locals.user.password %>" id="updatePassword" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
      <label for="updateConfirmPassword">Confirm Password</label>
      <input type="password" class="form-control" name="passwordConfirm" placeholder="Confirm Password" value="<%= locals.user.passwordConfirm %>" id="updatePassword" aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-primary">Update Password</button>
  </form>