<%- include('partials/header'); %> 

<div id="body">
  <div class="container-fluid">
    <div class="row">
      <div id="lSidebar" class="col-md-5">
      </div>  
      <main role="main" class="col-md-2">
        <%- include('partials/login'); %>
        <%- include('partials/register'); %>
      </main>
      <div id="rSidebar" class="col-md-5">
      </div> 
    </div> <!-- end .row --> 
  </div><!-- end .container-fluid -->
</div><!-- end #main -->


<%- include('partials/footer'); %>